<!DOCTYPE html>
<html>
<head> Donators Form </head>
<body>


<img src="https://i.imgur.com/caGKUp4.png" alt="Donator Form Image" width=100% height=100%>

<form action="/donateposts">
    <input type="text" name="textie" style= 'position:absolute; margin-left:675px; margin-top:-600px;'>
    <input type="text" name="textie" style= 'position:absolute; margin-left:675px; margin-top:-540px;'>
    <input type="text" name="textie" style= 'position:absolute; margin-left:675px; margin-top:-480px;'>
    <input type="text" name="textie" style= 'position:absolute; margin-left:675px; margin-top:-420px;'>
    <input type="text" name="textie" style= 'position:absolute; margin-left:675px; margin-top:-380px;'>
    <br><input type="submit" value="Post" style='position:absolute; margin-left:225px; margin-top:-100px;'></form>

</body>
</html>


